* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

header {
  width: 100%;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

i {
  color: beige;
}

.header-icones {
  display: flex;
  gap: 20px;
}

.header-icones a:hover i {
  animation: translateY 0.8s infinite alternate;
  color: red;
}

@keyframes translateY {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-8px) scale(1.1);
  }
}
.header-butao {
  border: 1px solid white;
  padding: 8px 24px;
  border-radius: 4px;
  color: white;
  background-color: transparent;
  transition: background-color 0.8s;
}

.header-butao:hover {
  border: 1px solid red;
  background-color: red;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 14px;
}

@media screen and (max-width: 768px) {
  .header-content {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header-content i {
    margin-top: 16px;
    font-size: 34px;
  }
  .header-logo img {
    width: 160px;
    margin-top: 46px;
    justify-content: center;
    margin-right: 6rem;
  }
  .header-butao {
    display: none;
  }
}
.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 6rem;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 8px;
}

.bg-home {
  position: relative;
}

.bg-home::before {
  content: "";
  display: block;
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(30, 6, 10, 0), #EBE3DB), url("../imagens/fundoDaPagina.jpeg");
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 3;
}

.hero {
  color: white;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 14px;
}
.hero h1 {
  text-align: center;
  line-height: 150%;
  max-width: 940px;
  font-size: 40px;
}
.hero p {
  text-align: center;
  margin: 14px 0;
}

.butao-contato {
  padding: 14px 28px;
  color: white;
  background-color: red;
  border: 0;
  font-size: 18px;
  font-weight: 600;
  margin: 14px 0;
}

.butao-contato:hover {
  animation: scaleButton 0.8s alternate infinite;
}

@keyframes scaleButton {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.07);
  }
}
@media screen and (max-width: 768px) {
  .hero {
    min-height: 60vh;
  }
  .hero h1 {
    font-size: 24px;
    padding: 0 14px;
    width: 100%;
  }
  p {
    font-size: 14px;
  }
}
.rodape h2 {
  color: rgb(34, 35, 34);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

body {
  font-family: "Merriweather", sans-serif;
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #EBE3DB;
}

button {
  font-family: "Merriweather", sans-serif;
  cursor: pointer;
}

img {
  width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */